/* CSS Reset */
* { 
  padding: 0;
  margin: 0;
}

.main-heading {

}

.sub-heading {
  
}




/* ................................ */
/* Slider */
.slider {
  -webkit-appearance: none;
  background: #cc181e;
  cursor: pointer;
  height: 3px;
  margin: 0;
  transitionx: 0.1s ease-in;
  vertical-align: bottom;
      
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #aeaeae;
  border-radius: 8px;
  box-shadow: inset 0 0 0 5px #eaeaea;
  height: 0;
  transitionx: 0.1s ease-in;
  width: 0;
}